.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 2em;
  align-items: stretch
}

.projects a {
  color: var(--text-color);
  text-decoration: none;
}

.project-card h3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0 0 0.5em 0;
  font-size: 1.3em;
  line-height: 1.2;
  min-height: 3.6em;
}

.projects img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5em;
  animation-delay: 0.1s;
  animation: fadeInUp 0.6s ease-out;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.project-image-container {
  width: 100%;
  height: 120px;
  /* Fixed height */
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 0.8em;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card p {
  margin: 0;
  flex-grow: 1;
  line-height: 1.5;
}

.content > * {
  animation: fadeInUp 0.6s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
  margin-block: 2em;
}

.legend {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 0.5em;
  padding: 1em;
  border: 1px solid var(--text-color-light);
  border-radius: 8px;
  list-style: none;
  margin: 0;
}

.legend li {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.swatch {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--color);
  display: inline-block;
}

.searchBar {
  width: 100%;
  padding: 0.75em 1em;
  margin-bottom: 2em;
  font-size: 1em;

  background: var(--input);
  color: var(--input-text);
  border: 1px solid var(--input-border);
  border-radius: 8px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.searchBar::placeholder {
  color: var(--input-placeholder);
}

.searchBar:focus {
  outline: none
}

#projects-pie-plot path {
    cursor: pointer;
    transition: opacity 300ms;
}

#projects-pie-plot:has(path:hover) path:not(:hover) {
    opacity: 0.5;
}

.selected.wedge {
    fill: var(--color-accent);
}

.selected.legend-item {
    font-weight: bold;
}

.legend li {
    cursor: pointer;
    transition: opacity 300ms;
}

.legend:has(.selected) li:not(.selected) {
    opacity: 0.5;
}